<!-- <div class="header">
  <div class="topbar">
    <button [matMenuTriggerFor]="menu" id="borderbutton">
      <button mat-fab>LC</button>
      <button mat-button="menu">Hi lara!</button>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </div>
</div>

 -->

<mat-toolbar color="primary">
  <span>Advanced Angular</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="top-background">
  <img src="../../assets/background.jpeg" alt="Background Photo" />
</div>

<div class="profile">
  <img src="../../assets/profile.jpeg" alt="Profile Photo" />
  <p>John Doe</p>
</div>
